<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>angular-js</title>
		<meta name="viewport" content="initial-scale=1.0">
		<link rel="stylesheet" ng-href="css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
		<script>
			"use strict";
			angular.module("todo",[])
			.controller('TodoController', function(){
				var todoCtrl=this;


				todoCtrl.tasks = [
				{description: "un"},
				{description: "deux"},
				];

				todoCtrl.addTask = function (desc) {
				todoCtrl.tasks.push({
					description: desc
				})
				}
				/*Mieux d'utiliser une fonction.*/
				todoCtrl.changeRedClass = function(){
					todoCtrl.isred = !todoCtrl.isred;
				}
				todoCtrl.ordreTri=false;
				todoCtrl.changeOrdreTri = function(){
					todoCtrl.ordreTri  = !todoCtrl.ordreTri;
				}

				
			})

			.controller('Ctrl', function(){
							this.user1 = { name: "Thomas", email: "a@ici.fr"}
							this.user2 = { email: "b@ici.fr"}
			})

			.filter("bang", function(){
				return function (input, nb){
					var nbExc="!";
					return input + nbExc.repeat(nb);
				}
			})

			.filter("username", function(){
				return function (input){
					if(!input) return "John Doe";
					return input.name || input.email || "John Doe"
				}
			})


		</script>
	</head>
	<body ng-app="todo">

		<ng-include src="'header.html'"></ng-include>
		<div ng-controller="TodoController as todoCtrl">

			<h1 ng-class="{red : todoCtrl.isred}" ng-click="todoCtrl.changeRedClass()">Le titre de la page</h1>
			<input type="text" ng-model="motRecherche">
			<ul>
				<li ng-repeat="task in todoCtrl.tasks |
				filter:motRecherche| 
				orderBy:'description':todoCtrl.ordreTri">{{ task.description | uppercase | bang:5}}</li>
			</ul>
			<button ng-click="todoCtrl.changeOrdreTri()">ordreTri</button>
			<input type="text" ng-model="newtask">
			<button ng-click="todoCtrl.addTask(newtask)">add</button>
			<button ng-click="afficheMoi = !afficheMoi">show</button>
			<div ng-show="afficheMoi"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolorum eveniet hic aspernatur iusto accusantium sint explicabo, alias assumenda earum corporis expedita, vitae fugiat dicta qui voluptas! Hic, unde non!</div>

			

		</div>
		<div ng-controller="Ctrl as ctrl">
			{{ctrl.user1 | username}}
			{{ctrl.user2 | username}}
			{{ctrl.user3 | username}}
		<div ng-controller="Ctrl as ctrl">
		<ng-include src="'footer.html'"></ng-include>
	</body>
</html>